# Core functionality - changes here should be rare!
/src/app.py                   @Salimboy1
/src/backend/database.py      @Salimboy1
/src/backend/routers/auth.py  @Salimboy1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Salimboy1
